
.content.content{
    text-align: center;
}


/*Phablets*/
@media (min-width: 400px) {
.content .grid {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--space-small);   
} 

}

/*Tablets*/
@media (min-width: 550px){
.content .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: var(--space-small);  
}

}


/*Desktop*/
@media (min-width: 750px){
.content .grid {
    display: grid;
    grid-column-gap: var(--space-big);
}

}

