.footer {
    text-align: center;
    background-color:#b34180;   
}

.footer a {
    color: #fceade;
    font-size:medium;

}

.footer a:hover{
    background-color: #da84d7;
    font-size: large;

}

@media (min-width: 400px){
.footer {
    font-size:xx-large;
    
}
}

@media (min-width: 550px){
.footer {
    font-size:xx-large;   
}
}

@media (min-width: 750px){
.footer {
    font-size:xx-large;   
}
}

@media (min-width: 400px){
.footer a {
    font-size:x-large;
    padding: var(--space-medium);
}
.footer a :hover{
    font-size: large;
}
}

@media (min-width: 550px){
.footer a {
    font-size:x-large;
    padding: var(--space-medium);
}
.footer a :hover{
    font-size: large;
}
}

@media (min-width: 750px){
.footer a {
    font-size:x-large;
    padding: var(--space-medium);
}
.footer a :hover{
    font-size: large;
}
}

